AdvantageFramework.BLogic/Service References/RTMCService/wsdl1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://rtmc.tchek.com/v2/" elementFormDefault="qualified" targetNamespace="http://rtmc.tchek.com/v2/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://webservicestest.tchek.com/RTMC/v5/RTMCService.svc/wsdl?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" />
  <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="GetBPDDLListRequest" nillable="true" type="q1:ArrayOfGetBPDDLListRequestTransactionEntity" />
  <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="GetBPDDLListResponse" nillable="true" type="q2:ArrayOfGetBPDDLListResponseTransactionEntity" />
  <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="GetECDDLListRequest" nillable="true" type="q3:ArrayOfGetECDDLListRequestTransactionEntity" />
  <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="GetECDDLListResponse" nillable="true" type="q4:ArrayOfGetECDDLListResponseTransactionEntity" />
  <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="EditECDDLListItemRequest" nillable="true" type="q5:ArrayOfEditECDDLListItemRequestTransactionEntity" />
  <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="EditECDDLListItemResponse" nillable="true" type="q6:ArrayOfEditECDDLListItemResponseTransactionEntity" />
  <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="EditBPDDLListItemRequest" nillable="true" type="q7:ArrayOfEditBPDDLListItemRequestTransactionEntity" />
  <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="EditBPDDLListItemResponse" nillable="true" type="q8:ArrayOfEditBPDDLListItemResponseTransactionEntity" />
  <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="AddNewBPCustomDDLListItemRequest" nillable="true" type="q9:ArrayOfAddNewBPCustomDDLListItemRequestTransactionEntity" />
  <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="AddNewBPCustomDDLListItemResponse" nillable="true" type="q10:ArrayOfAddNewBPCustomDDLListItemResponseTransactionEntity" />
  <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="AddNewECCustomDDLListItemRequest" nillable="true" type="q11:ArrayOfAddNewECCustomDDLListItemRequestTransactionEntity" />
  <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="AddNewECCustomDDLListItemResponse" nillable="true" type="q12:ArrayOfAddNewECCustomDDLListItemResponseTransactionEntity" />
  <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="EditDDLRequest" nillable="true" type="q13:ArrayOfEditDDLRequestTransactionEntity" />
  <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="EditDDLResponse" nillable="true" type="q14:ArrayOfEditDDLResponseTransactionEntity" />
  <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="GetAvailableBalanceRequest" nillable="true" type="q15:ArrayOfGetAvailableBalanceRequestTransactionEntity" />
  <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="GetAvailableBalanceResponse" nillable="true" type="q16:ArrayOfGetAvailableBalanceResponseTransactionEntity" />
  <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="GetPaymentsRequest" nillable="true" type="q17:ArrayOfGetPaymentsRequestTransactionEntity" />
  <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="GetPaymentsResponse" nillable="true" type="q18:ArrayOfGetPaymentsResponseTransactionEntity" />
  <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="GetCreditInfoRequest" nillable="true" type="q19:ArrayOfGetCreditInfoRequestTransactionEntity" />
  <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="GetCreditInfoResponse" nillable="true" type="q20:ArrayOfGetCreditInfoResponseTransactionEntity" />
  <xs:element name="GetVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="CardGroupAddRequest" nillable="true" type="q21:ArrayOfCardGroupAddRequestTransactionEntity" />
  <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="CardGroupAddResponse" nillable="true" type="q22:ArrayOfCardGroupAddResponseTransactionEntity" />
  <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="CardGroupDelRequest" nillable="true" type="q23:ArrayOfCardGroupDelRequestTransactionEntity" />
  <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="CardGroupDelResponse" nillable="true" type="q24:ArrayOfCardGroupDelResponseTransactionEntity" />
  <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="CardGroupInqRequest" nillable="true" type="q25:ArrayOfCardGroupInqRequestTransactionEntity" />
  <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="CardGroupInqResponse" nillable="true" type="q26:ArrayOfCardGroupInqResponseTransactionEntity" />
  <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="CardGroupUpdRequest" nillable="true" type="q27:ArrayOfCardGroupUpdRequestTransactionEntity" />
  <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="CardGroupUpdResponse" nillable="true" type="q28:ArrayOfCardGroupUpdResponseTransactionEntity" />
  <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="CardInqRequest" nillable="true" type="q29:ArrayOfCardInqRequestTransactionEntity" />
  <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="CardInqResponse" nillable="true" type="q30:ArrayOfCardInqResponseTransactionEntity" />
  <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="CardUpdRequest" nillable="true" type="q31:ArrayOfCardUpdRequestTransactionEntity" />
  <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="CardUpdResponse" nillable="true" type="q32:ArrayOfCardUpdResponseTransactionEntity" />
  <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="VirtualCardActivityRequest" nillable="true" type="q33:ArrayOfVirtualCardActivityRequestTransactionEntity" />
  <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="VirtualCardActivityResponse" nillable="true" type="q34:ArrayOfVirtualCardActivityResponseTransactionEntity" />
  <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="VirtualCardCreateRequest" nillable="true" type="q35:ArrayOfVirtualCardCreateRequestTransactionEntity" />
  <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="VirtualCardCreateResponse" nillable="true" type="q36:ArrayOfVirtualCardCreateResponseTransactionEntity" />
  <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="VirtualCardInquireRequest" nillable="true" type="q37:ArrayOfVirtualCardInquireRequestTransactionEntity" />
  <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="VirtualCardInquireResponse" nillable="true" type="q38:ArrayOfVirtualCardInquireResponseTransactionEntity" />
  <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="VirtualCardInquireCardCTSRequest" nillable="true" type="q39:ArrayOfVirtualCardInquireCardCTSRequestTransactionEntity" />
  <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="VirtualCardInquireCardCTSResponse" nillable="true" type="q40:ArrayOfVirtualCardInquireCardCTSResponseTransactionEntity" />
  <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="VirtualCardUpdateRequest" nillable="true" type="q41:ArrayOfVirtualCardUpdateRequestTransactionEntity" />
  <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="VirtualCardUpdateResponse" nillable="true" type="q42:ArrayOfVirtualCardUpdateResponseTransactionEntity" />
  <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="DriverPoolAddRequest" nillable="true" type="q43:ArrayOfDriverPoolAddRequestTransactionEntity" />
  <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="DriverPoolAddResponse" nillable="true" type="q44:ArrayOfDriverPoolAddResponseTransactionEntity" />
  <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="DriverPoolDelRequest" nillable="true" type="q45:ArrayOfDriverPoolDelRequestTransactionEntity" />
  <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="DriverPoolDelResponse" nillable="true" type="q46:ArrayOfDriverPoolDelResponseTransactionEntity" />
  <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="DriverPoolInqRequest" nillable="true" type="q47:ArrayOfDriverPoolInqRequestTransactionEntity" />
  <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="DriverPoolInqResponse" nillable="true" type="q48:ArrayOfDriverPoolInqResponseTransactionEntity" />
  <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="DriverPoolUpdRequest" nillable="true" type="q49:ArrayOfDriverPoolUpdRequestTransactionEntity" />
  <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="DriverPoolUpdResponse" nillable="true" type="q50:ArrayOfDriverPoolUpdResponseTransactionEntity" />
  <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="VehiclePoolAddRequest" nillable="true" type="q51:ArrayOfVehiclePoolAddRequestTransactionEntity" />
  <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="VehiclePoolAddResponse" nillable="true" type="q52:ArrayOfVehiclePoolAddResponseTransactionEntity" />
  <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="VehiclePoolDelRequest" nillable="true" type="q53:ArrayOfVehiclePoolDelRequestTransactionEntity" />
  <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="VehiclePoolDelResponse" nillable="true" type="q54:ArrayOfVehiclePoolDelResponseTransactionEntity" />
  <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="VehiclePoolInqRequest" nillable="true" type="q55:ArrayOfVehiclePoolInqRequestTransactionEntity" />
  <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="VehiclePoolInqResponse" nillable="true" type="q56:ArrayOfVehiclePoolInqResponseTransactionEntity" />
  <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="VehiclePoolUpdRequest" nillable="true" type="q57:ArrayOfVehiclePoolUpdRequestTransactionEntity" />
  <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="VehiclePoolUpdResponse" nillable="true" type="q58:ArrayOfVehiclePoolUpdResponseTransactionEntity" />
  <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="TransactionDeliveryMemoRequest" nillable="true" type="q59:ArrayOfTransactionDeliveryMemoRequestTransactionEntity" />
  <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="TransactionDeliveryMemoResponse" nillable="true" type="q60:ArrayOfTransactionDeliveryMemoResponseTransactionEntity" />
  <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="TransactionDeliveryClearedRequest" nillable="true" type="q61:ArrayOfTransactionDeliveryClearedRequestTransactionEntity" />
  <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="TransactionDeliveryClearedResponse" nillable="true" type="q62:ArrayOfTransactionDeliveryClearedResponseTransactionEntity" />
  <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="TransactionDeliveryChargeRequest" nillable="true" type="q63:ArrayOfTransactionDeliveryChargeRequestTransactionEntity" />
  <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="TransactionDeliveryChargeResponse" nillable="true" type="q64:ArrayOfTransactionDeliveryChargeResponseTransactionEntity" />
  <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="TransactionDeliveryRejectRequest" nillable="true" type="q65:ArrayOfTransactionDeliveryRejectRequestTransactionEntity" />
  <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="TransactionDeliveryRejectResponse" nillable="true" type="q66:ArrayOfTransactionDeliveryRejectResponseTransactionEntity" />
  <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="TransactionDeliveryDetailsRequest" nillable="true" type="q67:ArrayOfTransactionDeliveryDetailsRequestTransactionEntity" />
  <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="TransactionDeliveryDetailsResponse" nillable="true" type="q68:ArrayOfTransactionDeliveryDetailsResponseTransactionEntity" />
  <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="CardOrderNewRequest" nillable="true" type="q69:ArrayOfCardOrderNewRequestTransactionEntity" />
  <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="CardOrderNewResponse" nillable="true" type="q70:ArrayOfCardOrderNewResponseTransactionEntity" />
  <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="CardOrderReissueRequest" nillable="true" type="q71:ArrayOfCardOrderReissueRequestTransactionEntity" />
  <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="CardOrderReissueResponse" nillable="true" type="q72:ArrayOfCardOrderReissueResponseTransactionEntity" />
  <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="CardOrderReissueActivateRequest" nillable="true" type="q73:ArrayOfCardOrderReissueActivateRequestTransactionEntity" />
  <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="CardOrderReissueActivateResponse" nillable="true" type="q74:ArrayOfCardOrderReissueActivateResponseTransactionEntity" />
  <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="GetCustomDDLSRequest" nillable="true" type="q75:ArrayOfGetCustomDDLSRequestTransactionEntity" />
  <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="GetCustomDDLSResponse" nillable="true" type="q76:ArrayOfGetCustomDDLSResponseTransactionEntity" />
  <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="AddNewDDLListItemRequest" nillable="true" type="q77:ArrayOfAddNewDDLListItemRequestTransactionEntity" />
  <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="AddNewDDLListItemResponse" nillable="true" type="q78:ArrayOfAddNewDDLListItemResponseTransactionEntity" />
  <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="DeleteDDLListItemRequest" nillable="true" type="q79:ArrayOfDeleteDDLListItemRequestTransactionEntity" />
  <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="DeleteDDLListItemResponse" nillable="true" type="q80:ArrayOfDeleteDDLListItemResponseTransactionEntity" />
  <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="DeleteDDLRequest" nillable="true" type="q81:ArrayOfDeleteDDLRequestTransactionEntity" />
  <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="DeleteDDLResponse" nillable="true" type="q82:ArrayOfDeleteDDLResponseTransactionEntity" />
  <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="GetCustomDDLListRequest" nillable="true" type="q83:ArrayOfGetCustomDDLListRequestTransactionEntity" />
  <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/TChek.MasterCard.WebServices.RTMC.BusinessObjects.RTMCv2" name="GetCustomDDLListResponse" nillable="true" type="q84:ArrayOfGetCustomDDLListResponseTransactionEntity" />
</xs:schema>